body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
    margin: 0;
    white-space: nowrap;
}

.hero h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 0;
}

.header a, .hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    padding: 16px;
    display:flex;
    justify-content: center;
}

.header-container {
    width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    margin: 0;
    display: flex;
    gap: 16px;
}

.hero {
    padding: 64px 16px;
    display: flex;
    justify-content: center;
    
}

.hero-container {
    width: 100vh;
    display:flex;
    align-items: flex-start;
    gap: 16px;
}

.hero img {
    width: 50%;
    /*height:;*/
}


